.notifications{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-weight: var(--font-weight-normal);
}

.notif-card{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    
}

img{
    width: 40px;
    object-fit: contain;
    object-position: top;      
}

.information{
    width: 100%;
}

.span-grid{
    grid-column: 1/4;
    
}

.user-name:hover{
    cursor: pointer;
    color: var(--color-blue);

}

.post{
    color: var(--color-dark-grayish-blue);
    font-weight: var(--font-weight-bold);
    margin-left: 0.5rem;
}

.post:hover{
    cursor: pointer;
    color: var(--color-blue);
}

.group{
    color: var(--color-blue);
    font-weight: var(--font-weight-bold);
    margin-left: 0.5rem;
    opacity: 1;
}

.group:hover{
    cursor: pointer;
    color: var(--color-blue);
    opacity: 0.8;
}

.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var( --color-red);
    border-radius: 50%;
    margin-left: 0.5rem;

}

.user-time{
    color: var(--color-grayish-blue);
    margin-top: 1rem;
}

.message-container{
    border: 1px solid var(--color-light-grayish-blue-2);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.message-container:hover{
    cursor: pointer;
}

.picture{
    float: inline-end;
}